<nav>
  <div>
    <img src="assets/logo1.png">

    <ul>
        <!-- List of links in nav bar-->
        
        <li><a class="active" routerLink="/houses">Buy</a></li>  <!-- Takes us to search page-->
        <li><a (click) = "onlogin()">Login</a></li>
        <li><a routerLink="/houses">Rent</a></li><!-- Takes us to search page-->
        <li><a routerLink="/aboutus">About</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li><!-- Takes us to contact us page-->
        <li><a routerLink="/houses">Search</a></li><!-- Takes us to search page-->
        <li><a routerLink="/homepage">Home</a></li><!-- Takes us to Home page-->
        
      </ul>
    </div>
    </nav>