<div>
  <img src="assets/bgimg.jpg">                <!--Background image-->
  
  <div class="bg-text">
      <h1>Contact Us</h1>                     <!--Text over image-->
      <p>While we are good with completing a home,there are simpler ways to get in touch and answer your questions </p>
    </div>
   
 
    <div class = "bg-text2 align1">  <!--Contact Details-->
      <div class="text1">
        <h3>617-821-4571</h3>
      <p>Monday-Friday <br>8am-7pm    </p>
    </div>
    <div class="text1">
    <h3>Office</h3>
    <p>ABC Corporate office near XYZ street   </p>
    </div>
    <div class="text1">
    <h3>Mail Us</h3>
    <a>houseshusky@gmail.com </a>
  </div>
 </div>
 
  </div>

 
  