<div class="lb">
<h1>
    Our Mission <!--heading-->
</h1>
</div>
<div class="b">  <!--about us-->
<p>At HuskyHouses, we want to help you make your home complete.<br>
    HuskyHouses dedicated to empowering consumers with data, inspiration and knowledge around the place they call home,<br>
     and connecting buyers and sellers across the country.

<br><br><br>
   HuskyHouses serves the full lifecycle of owning and living in a home: buying, selling and renting.<br>
   It starts with HuskyHouses living database of more than  millions of U.S. homes - including homes for sale, homes for <br>rent and homes not 
   currently on the market, as well as Zestimate home values, Rent Zestimates and other <br>home-related information. Zillow operates the
   most popular suite of mobile real estate apps, with more than two dozen apps across all major platforms.
</p>
</div>
