<body>
    <hr size="1px">
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <!--Card header for the registration form-->
            <div class="card-header">
                <h4>Register</h4>
                <p class="lead">Already a member? Please <a routerLink="/user-login">log in</a> instead.</p>
            </div>
            <!--Card body for the registration form-->
            <div class="card-body">
                <form (ngSubmit)="onRegister()"  method="POST" [formGroup]="newForm" novalidate>
                    <!--First Name-->
                    <div class="form-group" [formGroup]="newForm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <input type="text" class="form-control" name="name" placeholder="Enter your first name" [(ngModel)]="credentials.name" formControlName="name" required>
                            </div>
                            <div *ngIf="newForm.controls['name'].invalid && (newForm.controls['name'].dirty || newForm.controls['name'].touched)"
                                class="alert alert-danger"> -->
                                <div *ngIf="newForm.controls['name'].errors.required">Name is required</div>
                            </div>
                        </div>
                        </div>

                    <!--Middle Name-->
                    <div class="form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <input type="text" class="form-control" name="name" placeholder="Enter your middle name" required>
                            </div>
                        </div>
                    </div>

                    <!--Last Name-->
                    <div class="form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <input type="text" class="form-control" name="name" placeholder="Enter your Last name" required>
                            </div>
                        </div>
                    </div>

                    <!--Email-->
                    <div class="form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.userEmailID" formControlName="email"  required>
                            </div>
                            <div *ngIf="newForm.controls['email'].invalid && (newForm.controls['email'].dirty || newForm.controls['email'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="newForm.controls['email'].errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>

                    <!--Phone-->
                    <div class="form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <input type="tel" class="form-control" name="phone" placeholder="Enter phone" [(ngModel)]="credentials.phone" formControlName="phone" required>
                            </div>
                            <div *ngIf="newForm.controls['phone'].invalid && (newForm.controls['phone'].dirty || newForm.controls['phone'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="newForm.controls['phone'].errors.required">Phone is required</div>
                            </div>
                        </div>
                    </div>

                    <!--Password-->
                    <div class="form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password" formControlName="password" required>
                            </div>
                            <div *ngIf="newForm.controls['password'].invalid && (newForm.controls['password'].dirty || newForm.controls['password'].touched)"
                                class="alert alert-danger"> 
                                <div *ngIf="newForm.controls['password'].errors.required">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group form-group">
                        <button type="submit" class="btn btn-dark">Register!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
